@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

body {
   
    font-family: "Mulish";

    background-color: var(--black);

    animation-duration: 3s;
    animation-name: fade-in;

    @keyframes fade-in {
        from {
            opacity: 0%;
        }
    }

    to {
        opacity: 100%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: fit-content;
    min-height: 100vh;

    /*
    background-image: url(../../../assets/images/vivyprofile.png);
    background-repeat: no-repeat;
    background-size: cover;
    */

    background-color: rgb(255,153,190);
    background-image: radial-gradient(circle, rgba(255,153,190,1) 0%, rgba(65,42,127,1) 60%);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;

    margin: util.rem(32) 0;
}

.portfolio {
    display: grid;
    justify-items: center;

    border-radius: util.rem(32);

    box-shadow: 0 util.rem(10) util.rem(8) 0 (rgba(0, 0, 0, 0.400));

    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(util.rem(64));

    &__top {
        display: grid;
        grid-template: auto / 1fr auto;

        min-width: 100%;

        padding: util.rem(16) util.rem(16);

        &__icon {
            width: util.rem(32);
            height: util.rem(32);

            transition: all 0.2s ease-in-out;
        }

        &__header {
            justify-self: center;
            margin-left: util.rem(32);

            font-size: fonts.$header;
            font-weight: fonts.$bold;
    
            -webkit-text-stroke-width: util.rem(3);
            -webkit-text-stroke-color: var(--white);
        }
    }

    &__contents {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-gap: util.rem(24);

        padding: util.rem(16) util.rem(32) util.rem(32);
    }

    &-card {
        display: grid;
        align-items: end;

        width: util.rem(300);
        height: util.rem(300);

        background-color: var(--gray-dark);
        background-size: cover;

        border-radius: util.rem(32);

        box-shadow: 0 util.rem(8) util.rem(4) 0 rgba(0, 0, 0, 0.4);

        transition: all 0.2s ease-in-out;

        overflow: hidden;

        &__info {
            display: grid;
            grid-template: auto auto / auto;
            align-content: center;

            background-color: rgba(0, 0, 0, 0.4);

            padding: util.rem(4) 0 0 0;

            backdrop-filter: blur(util.rem(64));

            &__text {
                text-align: center;
                padding: util.rem(4) 0;

                font-weight: 500;
                font-size: fonts.$card;

                -webkit-text-stroke-width: util.rem(1);
                -webkit-text-stroke-color: var(--white);
            }

            &__icons {
                display: grid;
                grid-template: auto / repeat(2, auto) auto repeat(4, auto);

                padding: util.rem(4) 0 util.rem(8) 0;

                justify-items: center;
                justify-content: center;
                align-items: center;

                margin: 0 util.rem(32);
            }

            &__icon {
                width: util.rem(28);
                height: util.rem(28);

                transition: all 0.2s ease-in-out;
            }

            &__icon-n {
                width: util.rem(28);
                height: util.rem(28);
            }

            &__separator {
                border-right: util.rem(3) solid var(--pink);

                margin-right: util.rem(8);
                margin-left: util.rem(4);
            }
        }
    }
}

.project {
    background-size: cover;
    background-position: center;

    &-icons a:nth-of-type(1) {
        margin-right: util.rem(4);
    }

    &-icons a:nth-of-type(4) {
        margin-left: util.rem(2);
    }

    &-icons a:nth-of-type(5) {
        margin-left: util.rem(5);

        width: util.rem(25);
        height: util.rem(25);
    }

    &-icons a:nth-of-type(6) {
        margin-left: util.rem(8);

        width: util.rem(25);
        height: util.rem(25);
    }
}

.thumbnail1 {
    background-image: url("https://user-images.githubusercontent.com/47509295/180346891-a7081011-5457-4bf5-b4a0-06e003f499a1.png");
}

.thumbnail2 {
    background-image: url("https://user-images.githubusercontent.com/47509295/181582028-94c58f1e-0907-42a2-821f-ecd4007e8abb.png");
}

.thumbnail3 {
    background-image: url("https://user-images.githubusercontent.com/47509295/204004995-38dd33f2-f2fa-4a8e-a45c-c1f70ee314d7.png");
}

.thumbnail4 {
    background-image: url("https://user-images.githubusercontent.com/47509295/202753103-71de50c7-932b-4601-810e-e2fcea9bb2ef.png");
}

.thumbnail5 {
    background-image: url("https://user-images.githubusercontent.com/47509295/188201062-cf9846c7-d546-4905-b8aa-394acb5f3fa8.png");
}

.thumbnail6 {
    background-image: url("https://user-images.githubusercontent.com/47509295/209034490-77b8eb7b-553a-4a2a-949e-f368ad1c749d.png");
}

.contents {
    display: grid;
    justify-items: center;

    padding: util.rem(32) util.rem(48);

    border-radius: util.rem(32);

    box-shadow: 0 util.rem(10) util.rem(8) 0 (rgba(0, 0, 0, 0.400));

    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(util.rem(64));

    &__pfp {
        width: util.rem(176);
        height: util.rem(176);
    
        border-radius: util.rem(96);
        border-style: solid;
        border-width: util.rem(5);
        border-color: var(--pink);
    
        box-shadow: 0 util.rem(10) util.rem(4) 0 (rgba(0, 0, 0, 0.300));

        pointer-events: none;
    }

    &__header {
        padding: util.rem(24) 0 util.rem(16) 0;

        font-size: fonts.$header;
        font-weight: fonts.$bold;

        -webkit-text-stroke-width: util.rem(3);
        -webkit-text-stroke-color: var(--white);
    }

    &__paragraph {
        font-size: fonts.$paragraph;
        font-weight: fonts.$bold;
        text-align: center;
        line-height: util.rem(32);

        max-width: util.rem(400);

        &-comms {
            margin-top: util.rem(24);
        }
    }
}

.buttons {
    display: grid;
    grid-template: 1fr / auto auto;
    column-gap: util.rem(16);
    align-items: center;
    
    text-decoration: none;
    outline: none;

    width: 100%;

    border-radius: util.rem(32);

    padding: util.rem(8) util.rem(32);

    transition: all 0.2s ease-in-out;

    box-shadow: 0 util.rem(6) util.rem(4) 0 (rgba(0, 0, 0, 0.300));

    margin-bottom: util.rem(20);

    &__text {
        text-align: right;
        font-size: fonts.$button;
        font-weight: fonts.$bold;
        letter-spacing: util.rem(1);
    
        -webkit-text-stroke-width: util.rem(1.2);
        -webkit-text-stroke-color: var(--white);
    }

    &__icons {
        grid-area: 1 / 2 / 2 / 3;

        max-width: util.rem(48);
        max-height: util.rem(48);
    }

    &__bluesky {
        background: linear-gradient(0.25turn, var(--bluesky1), var(--bluesky2) 80%);
    }

    &__discord {
        background: linear-gradient(0.25turn, var(--discord1), var(--discord2) 80%);
    }

    &__furaffinity {
        background: linear-gradient(0.25turn, var(--furaffinity1), var(--furaffinity2) 80%);
    }

    &__github {
        background: linear-gradient(0.25turn, var(--github1), var(--github2) 80%);
    }

    &__kofi {
        background: linear-gradient(0.25turn, var(--kofi1), var(--kofi2) 80%);
    }

    &__portfolio {
        background: linear-gradient(0.25turn, var(--portfolio1), var(--portfolio2) 80%);
    }

    &__throne {
        background: linear-gradient(0.25turn, var(--throne1), var(--throne2) 80%);
    }

    &__twitch {
        background: linear-gradient(0.25turn, var(--twitch1), var(--twitch2) 80%);
    }

    &-category {
        display:grid;
        grid-template: 1fr 1fr / 1fr auto 1fr;
        column-gap: util.rem(16);
        justify-content: center;
    
        font-size: fonts.$category;
        font-weight: fonts.$bold;
    
        -webkit-text-stroke-width: util.rem(1.2);
        -webkit-text-stroke-color: var(--white);
    
        margin: util.rem(32) 0 util.rem(16) 0;
    
        &__text {
            grid-area: 1/2/3/2;
        }
    
        &:before {
            content: " ";
            display: block;
            border-bottom: util.rem(3) solid var(--pink);
        }
    
        &:after {
            content: " ";
            display: block;
            border-bottom: util.rem(3) solid var(--pink);
        }
    }
}

.links-container {
    width: util.rem(400);
}

.footer {
    display: grid;
    justify-content: center;

    margin-top: util.rem(48);

    &__signature {
        opacity: 20%;
        width: util.rem(128);
        height: util.rem(128);
    }
}

.link {
    text-decoration: none;
    color: var(--white);
    font-weight: fonts.$bold;

    -webkit-text-stroke-width: util.rem(1);
    -webkit-text-stroke-color: var(--white);

    transition: all 0.2s ease-in-out;
}

[tooltip] {
    position: relative;
}

[tooltip]::before {
    content: "";

    position: absolute;
    top: util.rem(-10);
    left: 50%;
    z-index: 100;

    transform: translateX(-50%);

    border-width: util.rem(4) util.rem(6) 0 util.rem(6);
    border-style: solid;
    border-color: rgb(0, 0, 0) transparent transparent transparent;

    opacity: 0;
}

[tooltip]::after {
    content: attr(tooltip);

    position: absolute;
    left: 50%;
    top: util.rem(-10);

    transform: translateX(-50%)   translateY(-100%);

    background-color: rgb(0, 0, 0);

    padding: util.rem(6) util.rem(24);
    border-radius: util.rem(16);
    
    pointer-events: none;

    opacity: 0;

    font-size: fonts.$tooltip;
    color: var(--white);
    font-weight: fonts.$bold;
    text-align: center;
    white-space: nowrap;

    -webkit-text-stroke-width: util.rem(0.5);
    -webkit-text-stroke-color: var(--white);

    box-shadow: 0 util.rem(2) util.rem(8) 0 rgba(0, 0, 0, 0.4);
  }