@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

body {
    font-family: "Mulish";

    background-color: var(--black);

    animation-duration: 3s;
    animation-name: fade-in;
    animation-fill-mode: forwards;

    display: grid;
    grid-template: auto/auto;
}

.wrapper {
    display: grid;
    justify-content: center;
    grid-area: 1/1/2/2;

    min-width: fit-content;
    min-height: 100vh;

    background-image: url(../../../assets/images/background.webp);
    background-color: var(--background);
    background-repeat: repeat-y;
    background-position-x: 50%;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;

    margin: util.rem(32) 0;
}

.contents {
    animation-duration: 0.5s;
    animation-name: unset;
    animation-fill-mode: forwards;

    display: grid;
    justify-items: center;

    padding: util.rem(32) util.rem(48);

    border-radius: util.rem(32);

    box-shadow: 0 util.rem(10) util.rem(8) 0 (rgba(0, 0, 0, 0.400));

    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(util.rem(64));

    opacity: 100%;

    &__pfp {
        width: util.rem(176);
        height: util.rem(176);
    
        border-radius: util.rem(96);
        border-style: solid;
        border-width: util.rem(5);
        border-color: var(--pink);
    
        box-shadow: 0 util.rem(10) util.rem(4) 0 (rgba(0, 0, 0, 0.300));

        pointer-events: none;
    }

    &__header {
        padding: util.rem(24) 0 util.rem(16) 0;

        font-size: fonts.$header;
        font-weight: fonts.$bold;

        -webkit-text-stroke-width: util.rem(3);
        -webkit-text-stroke-color: var(--white);
    }

    &__paragraph {
        font-size: fonts.$paragraph;
        font-weight: fonts.$bold;
        text-align: center;
        line-height: util.rem(32);

        max-width: util.rem(400);

        &-comms {
            display: grid;
            grid-template: max-content/auto auto auto;

            margin-top: util.rem(24);

            &__span {
                grid-area: 1/1/2/2;

                &:nth-of-type(2) {
                    grid-area: 2/1/3/2;
                }
            }

            &__star {
                display: inline-block;
                align-self: end;

                height: 28px;
                width: 25px;

                &:nth-of-type(1) {
                    grid-area: 1/1/2/2;
                    justify-self: start;

                    transform: rotate(270deg);

                    margin-left: util.rem(24);
                }

                &:nth-of-type(2) {
                    grid-area: 1/1/2/2;
                    justify-self: end;

                    transform: rotate(90deg);

                    margin-right: util.rem(24);
                }
            }
        }
    }
}

.buttons {
    display: grid;
    grid-template: 1fr / auto auto;
    column-gap: util.rem(16);
    align-items: center;
    
    text-decoration: none;
    outline: none;

    width: 100%;

    border-radius: util.rem(32);

    padding: util.rem(8) util.rem(32);

    transition: all 0.2s ease-in-out;

    box-shadow: 0 util.rem(6) util.rem(4) 0 (rgba(0, 0, 0, 0.300));

    margin-bottom: util.rem(20);

    &__text {
        text-align: right;
        font-size: fonts.$button;
        font-weight: fonts.$bold;
        letter-spacing: util.rem(1);
        color: var(--white);
    
        -webkit-text-stroke-width: util.rem(1.2);
        -webkit-text-stroke-color: var(--white);
    }

    &__icons {
        grid-area: 1 / 2 / 2 / 3;

        max-width: util.rem(48);
        max-height: util.rem(48);
    }

    &__bluesky {
        background: linear-gradient(0.25turn, var(--bluesky1), var(--bluesky2) 80%);
    }

    &__commissions {
        background: linear-gradient(0.25turn, var(--commissions1), var(--commissions2) 80%);

        margin-top: 1.5rem;
    }

    &__discord {
        background: linear-gradient(0.25turn, var(--discord1), var(--discord2) 80%);
    }

    &__furaffinity {
        background: linear-gradient(0.25turn, var(--furaffinity1), var(--furaffinity2) 80%);
    }

    &__github {
        background: linear-gradient(0.25turn, var(--github1), var(--github2) 80%);
    }

    &__kofi {
        background: linear-gradient(0.25turn, var(--kofi1), var(--kofi2) 80%);
    }

    &__portfolio {
        background: linear-gradient(0.25turn, var(--portfolio1), var(--portfolio2) 80%);
    }

    &__throne {
        background: linear-gradient(0.25turn, var(--throne1), var(--throne2) 80%);
    }

    &__twitch {
        background: linear-gradient(0.25turn, var(--twitch1), var(--twitch2) 80%);
    }

    &__comms-art {
        //background: linear-gradient(0.25turn, var(--artcomms1), var(--artcomms2) 80%);
        background: linear-gradient(0.25turn, var(--disabled1), var(--disabled2) 80%);
    }

    &__comms-webdev {
        background: linear-gradient(0.25turn, var(--portfolio1), var(--portfolio2) 80%);
    }

    &__comms-stream {
        //background: linear-gradient(0.25turn, var(--twitch1), var(--twitch2) 80%);
        background: linear-gradient(0.25turn, var(--disabled1), var(--disabled2) 80%);
    }

    &__disabled {
        background: linear-gradient(0.25turn, var(--disabled1), var(--disabled2) 80%);
    }

    &__tos {
        background: linear-gradient(0.25turn, var(--tos1), var(--tos2) 80%);
        margin-bottom: util.rem(32);
    }

    &-category {
        display:grid;
        grid-template: 1fr 1fr / 1fr auto 1fr;
        column-gap: util.rem(16);
        justify-content: center;
    
        font-size: fonts.$category;
        font-weight: fonts.$bold;
    
        -webkit-text-stroke-width: util.rem(1.2);
        -webkit-text-stroke-color: var(--white);
    
        margin: util.rem(32) 0 util.rem(16) 0;
    
        &__text {
            grid-area: 1/2/3/2;

            &-portfolio {
                display:grid;
                grid-template: 1fr 1fr / 1fr auto 1fr;
                column-gap: util.rem(16);
                justify-content: center;
            
                font-size: fonts.$category;
                font-weight: fonts.$bold;
            
                -webkit-text-stroke-width: util.rem(1.2);
                -webkit-text-stroke-color: var(--white);
            
                margin: util.rem(32) 0 util.rem(16) 0;
            }
        }
    
        &:before {
            content: " ";
            display: block;
            border-bottom: util.rem(3) solid var(--pink);
        }
    
        &:after {
            content: " ";
            display: block;
            border-bottom: util.rem(3) solid var(--pink);
        }
    }
}

.links-container {
    width: util.rem(400);
}

.footer {
    display: grid;
    justify-content: center;

    margin-top: util.rem(48);

    &__signature {
        opacity: 20%;
        width: util.rem(128);
        height: util.rem(128);
    }
}

.link {
    text-decoration: none;
    color: var(--white);
    font-weight: fonts.$bold;

    -webkit-text-stroke-width: util.rem(1);
    -webkit-text-stroke-color: var(--white);

    transition: all 0.2s ease-in-out;
}

.portfolio {
    display: none;
    justify-items: center;

    border-radius: util.rem(32);

    box-shadow: 0 util.rem(10) util.rem(8) 0 (rgba(0, 0, 0, 0.400));

    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(util.rem(64));

    animation-duration: 0.5s;
    animation-name: unset;
    animation-fill-mode: forwards;

    &__top {
        display: grid;
        grid-template: auto / auto;

        min-width: 100%;

        padding: util.rem(16) util.rem(16) 0;

        &__icon {
            grid-area: 1/1/2/2;

            width: util.rem(32);
            height: util.rem(32);

            transition: all 0.2s ease-in-out;
        }

        &__header {
            grid-area: 1/1/2/2;
            justify-self: center;
            margin: util.rem(16) util.rem(32) 0;

            font-size: fonts.$header;
            font-weight: fonts.$bold;
    
            -webkit-text-stroke-width: util.rem(3);
            -webkit-text-stroke-color: var(--white);
        }
    }

    &-header {
        width: 60%;
    }

    &__contents {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-gap: util.rem(24);

        padding: util.rem(16) util.rem(48) util.rem(52);

        &__header {
            justify-self: center;
            margin: util.rem(16) util.rem(32) 0;

            font-size: fonts.$header-m;
            font-weight: fonts.$bold;
    
            -webkit-text-stroke-width: util.rem(3);
            -webkit-text-stroke-color: var(--white);
        }
    }

    &-card {
        display: grid;
        align-items: end;

        width: util.rem(300);
        height: util.rem(300);

        background-color: var(--gray-dark);
        background-size: cover;

        border-radius: util.rem(32);

        box-shadow: 0 util.rem(8) util.rem(4) 0 rgba(0, 0, 0, 0.4);

        transition: all 0.2s ease-in-out;

        &__info {
            display: grid;
            grid-template: auto auto / auto;
            align-content: center;

            background-color: rgba(0, 0, 0, 0.4);

            padding: util.rem(4) 0 0 0;

            backdrop-filter: blur(util.rem(64));

            border-radius: 0 0 util.rem(32) util.rem(32);

            &__text {
                text-align: center;
                padding: util.rem(4) 0;

                font-weight: 500;
                font-size: fonts.$card;

                -webkit-text-stroke-width: util.rem(1);
                -webkit-text-stroke-color: var(--white);
            }

            &__icons {
                display: grid;
                grid-template: auto / repeat(2, auto) auto repeat(4, auto);

                padding: util.rem(4) 0 util.rem(8) 0;

                justify-items: center;
                justify-content: center;
                align-items: center;

                margin: 0 util.rem(32);
            }

            &__icon {
                width: util.rem(28);
                height: util.rem(28);

                transition: all 0.2s ease-in-out;
            }

            &__icon-n {
                width: util.rem(28);
                height: util.rem(28);
            }

            &__separator {
                border-right: util.rem(3) solid var(--pink);

                margin-right: util.rem(8);
                margin-left: util.rem(4);
            }
        }
    }
}

.project {
    background-size: cover;
    background-position: center;

    &-icons a:nth-of-type(1) {
        margin-right: util.rem(4);

        width: util.rem(24);
        height: util.rem(24);
    }

    &-icons a:nth-of-type(2) {
        margin-top: util.rem(2);

    }

    &-icons a:nth-of-type(3) {
        margin-bottom: util.rem(2);
    }

    &-icons a:nth-of-type(4) {
        margin-left: util.rem(2);
        margin-bottom: util.rem(2);
    }

    &-icons a:nth-of-type(5) {
        margin-left: util.rem(5);

        width: util.rem(25);
        height: util.rem(25);
    }

    &-icons a:nth-of-type(6) {
        margin-left: util.rem(8);

        width: util.rem(25);
        height: util.rem(25);
    }
}

.thumbnail1 {
    background-image: url("../../../assets/images/suitelandingbg.webp");
}

.thumbnail2 {
    background-image: url("../../../assets/images/chatappbg.webp");
}

.thumbnail3 {
    background-image: url("../../../assets/images/interactiveratingbs.webp");
}

.thumbnail4 {
    background-image: url("../../../assets/images/faqaccordionbg.webp");
}

.thumbnail5 {
    background-image: url("../../../assets/images/introcomponentbg.webp");
}

.thumbnail6 {
    background-image: url("../../../assets/images/podlandingbg.webp");
}

.thumbnail7 {
    background-image: url("../../../assets/images/bentogrid.webp");
}

.exit-icon {
    grid-area: 1/1/2/2;
    justify-self: end;

    max-height: util.rem(32);
}

[tooltip] {
    position: relative;
}

[tooltip]::before {
    content: "";

    position: absolute;
    top: util.rem(-10);
    left: 50%;
    z-index: 100;

    transform: translateX(-50%);

    border-width: util.rem(4) util.rem(6) 0 util.rem(6);
    border-style: solid;
    border-color: rgb(0, 0, 0) transparent transparent transparent;

    opacity: 0;
}

[tooltip]::after {
    content: attr(tooltip);

    position: absolute;
    left: 50%;
    top: util.rem(-10);

    transform: translateX(-50%)   translateY(-100%);

    background-color: rgb(0, 0, 0);

    padding: util.rem(6) util.rem(24);
    border-radius: util.rem(16);
    
    pointer-events: none;

    opacity: 0;

    font-size: fonts.$tooltip;
    color: var(--white);
    font-weight: fonts.$bold;
    text-align: center;
    white-space: nowrap;

    box-shadow: 0 util.rem(2) util.rem(8) 0 rgba(0, 0, 0, 0.4);
}

.commissions {
    display: none;
    justify-items: center;

    max-height: util.rem(20000);
    transition: max-height 200ms ease-in-out;

    animation-duration: 0.5s;
    animation-name: unset;
    animation-fill-mode: forwards;

    border-radius: util.rem(32);

    box-shadow: 0 util.rem(10) util.rem(8) 0 (rgba(0, 0, 0, 0.400));

    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(util.rem(64));

    &__top {
        display: grid;
        grid-area: 1/1/2/2;
        grid-template: auto / auto;

        min-width: 100%;

        padding: util.rem(16) util.rem(16) 0;

        &__icon {
            width: util.rem(32);
            height: util.rem(32);

            transition: all 0.2s ease-in-out;
        }

        &__header {
            grid-area: 1/1/2/2;
            justify-self: center;
            margin: util.rem(16) util.rem(32) 0;

            font-size: fonts.$header;
            font-weight: fonts.$bold;
    
            -webkit-text-stroke-width: util.rem(3);
            -webkit-text-stroke-color: var(--white);
        }
    }

    &-header {
        &:nth-of-type(2) {
            padding-bottom: util.rem(8);
        }
    }

    &__links {
        justify-self: center;
        width: 100%;
    }

    &__contents {
        display: grid;
        align-content: center;

        padding: 0 util.rem(48) util.rem(32);

        &__paragraph {
            justify-self: center;

            font-size: fonts.$paragraph;
            font-weight: fonts.$bold;
            text-align: center;
            line-height: util.rem(32);

            max-width: util.rem(400);

            &:nth-of-type(2) {
                margin-top: util.rem(24);
            }
        }

        &__list {
            display: grid;

            max-width: util.rem(400);

            list-style-position: inside;

            margin-top: util.rem(24);

            font-size: 1.375rem;
            font-weight: 700;
        }

        &__art {
            display: none;
        }

        &__webdev {
            display: none;
        }
    }

    &__tos {
        &__categories {
            display: grid;
            justify-self: center;
            font-size: 1.375rem;
            font-weight: 700;
            text-align: center;
            line-height: 2rem;
            padding: util.rem(8) 0 0 0;
            max-width: 25rem;
            width: 100%;

            grid-template: auto / auto;
            grid-row-gap: util.rem(12);
        }

        &__header {
            display: block;

            font-size: util.rem(24);
            text-decoration: underline;
            text-transform: uppercase;

            padding: 0 0 util.rem(16) 0;

            &:last-of-type {
                padding: 0 0 0 0;
            }
        }

        &__download {
            text-align: center !important; 
        }

        &__paragraph {
            display: grid;
            justify-self: center;

            font-size: fonts.$paragraph;
            font-weight: fonts.$bold;
            text-align: left;
            line-height: util.rem(32);

            padding: 0 0 util.rem(24) 0;

            max-width: util.rem(400);
            width: 100%;
        }

        &__section {
            display: none;

            text-align: left;

            padding: 0 0 util.rem(24) 0;

            animation-duration: 0.3s;
            animation-name: fade-in;
            animation-fill-mode: forwards;

            &::after {
                content: " ";
                display: block;
                border-bottom: util.rem(3) solid var(--pink);
                padding: util.rem(36) 0 0 0;
            }

            &__header {
                display: grid;
                grid-template: auto / repeat(2, max-content);
                justify-self: start;

                font-size: util.rem(24);
                -webkit-text-stroke-width: 0.0625rem;
                -webkit-text-stroke-color: var(--white);

                transition: all 0.2s ease-in-out;
            }

            &__paragraph {
                padding: util.rem(24) 0 0 0;
            }
        }
    }

    &__chevron {
        align-self: center;

        max-height: util.rem(24);
        max-width: util.rem(24);

        margin: 0 0 0 util.rem(24);

        transition: all 0.2s ease-in-out;

        filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(840%) hue-rotate(312deg) brightness(112%) contrast(107%);
    }
}

.webdev {
    display: none;
    justify-items: center;

    animation-duration: 0.5s;
    animation-name: unset;
    animation-fill-mode: forwards;

    border-radius: util.rem(32);

    box-shadow: 0 util.rem(10) util.rem(8) 0 (rgba(0, 0, 0, 0.400));

    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(util.rem(64));

    &__fineprint {
        list-style-position: inside;
        list-style-type: decimal;

        text-indent: util.rem(-18);
        margin: util.rem(24) 0 0 util.rem(20);

        max-width: util.rem(972);

        & > li {
            margin: 0 0 util.rem(8) 0;

            &:last-of-type {
                margin: 0 0;
            }
        }
    }

    &__top {
        display: grid;
        grid-area: 1/1/2/2;
        grid-template: auto / auto;

        min-width: 100%;

        padding: util.rem(16) util.rem(16) 0;

        &__icon {
            width: util.rem(32);
            height: util.rem(32);

            transition: all 0.2s ease-in-out;
        }

        &__header {
            grid-area: 1/1/2/2;
            justify-self: center;
            margin: util.rem(16) util.rem(32) 0;

            font-size: fonts.$header;
            font-weight: fonts.$bold;
    
            -webkit-text-stroke-width: util.rem(3);
            -webkit-text-stroke-color: var(--white);
        }
    }

    &__header {
        grid-area: 1 / 1 / 2 / 2;
        margin: util.rem(32) 0;
    }

    &__custom__contents {
        display: grid;
        align-content: center;

        width: 100%;

        padding: 0 util.rem(48) util.rem(32);
    }

    &__support__contents {
        display: grid;
        align-content: center;

        padding: 0 util.rem(48) util.rem(32);
    }

    &__cards__container {
        display: grid;
        grid-column-gap: util.rem(36);
        grid-template: repeat(2, auto) / repeat(3, util.rem(300));
        justify-content: center;
    }

    &__card {
        display: grid;
        grid-template: repeat(3, max-content) / auto;

        border-color: var(--pink-a);
        border-style: solid;
        border-width: util.rem(3);
        border-radius: util.rem(32);

        padding: util.rem(16) util.rem(24) util.rem(24);

        font-size: fonts.$paragraph;

        background-color: rgba(0, 0, 0, 0.200);

        box-shadow: 0 0.5rem 0.25rem 0 rgba(0, 0, 0, 0.4);

        &__header {
            font-size: fonts.$category;
            font-weight: fonts.$bold;

            padding: 0 0 util.rem(8) 0;
        }

        &__paragraph {
            grid-area: 2 / 1 / 3 / 3;
        }

        &__pricing {
            display: grid;

            &__price {
                width: max-content;

                font-size: fonts.$category-m;
                font-weight: fonts.$bold;
            }

            &__interval {
                width: max-content;

                font-size: fonts.$paragraph-m;
            }

            &::after {
                content: " ";
                display: block;
                border-bottom: 0.1875rem solid var(--pink);
                padding: util.rem(16) 0;
                grid-area: 3 / 1 / 4 / 3;
            }
        }

        &__list {
            margin: util.rem(16) 0 0 0;

            list-style-position: inside;
            list-style-type: disc;

            text-indent: util.rem(-18);
            margin-left: util.rem(20);

            &__category {
                list-style-type: none;

                font-weight: fonts.$bold;
                font-size: fonts.$paragraph;

                margin: util.rem(12) 0;
            }

            &__item {
                font-size: fonts.$paragraph-m;
                text-wrap: balance;

                margin: 0 0 util.rem(4) util.rem(4);
            }
        }
    }
}