@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

@media screen and (max-width: 760px) {
    .portfolio {
        &__contents {
            grid-template: auto / 1fr;
        }

        &-header {
            width: util.rem(300);
        }
    }

    .exit-icon::after {
        transform: translateX(-85%)   translateY(-100%);
    }

    .buttons-category-portfolio {
        display: block;
        text-align: center;

        &::before, &::after {
            display: none;
        }
    }

    .buttons-category__text {
        text-align: center;
    }
}

@media screen and (max-width: 660px) {
    .contents {
        padding: util.rem(32) util.rem(32);

        &__header {
            font-size: fonts.$header-m;
        }

        &__paragraph {
            font-size: fonts.$paragraph-m;
            line-height: util.rem(24);
            max-width: util.rem(320);
        }
    }

    .links-container {
        width: util.rem(320);
    }

    .commissions__top__header {
        font-size: util.rem(48);
    }

    .commissions__contents {
        max-width: util.rem(320);
        padding: 0 0 util.rem(32);

        &__paragraph {
            font-size: util.rem(18);
            line-height: util.rem(24);
        }

        &__list {
            font-size: util.rem(18);
        }
    }

    .commissions__tos {
        &__paragraph {
            font-size: util.rem(18);
            line-height: util.rem(28);
        }

        &__section {
            font-size: util.rem(18);
            line-height: util.rem(28);
        }
    }

    .contents__paragraph-comms__star:nth-of-type(1) {
        margin-left: 0;
    }

    .contents__paragraph-comms__star:nth-of-type(2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 560px) {
    .webdev {
        justify-items: unset;

        max-width: util.rem(720);

        &__top {
            max-width: util.rem(720);
            min-width: unset;

            &__header {
                font-size: fonts.$header-m;
            }
        }

        &__header {
            max-height: unset;
        }

        &__custom__contents {
            max-width: util.rem(720);

            &__paragraph {
                font-size: fonts.$paragraph-m;
                line-height: util.rem(24);
            }

            &__list {
                font-size: fonts.$paragraph-m;
                line-height: util.rem(24);
            }
        }

        &__support__contents {
            max-width: util.rem(720);
        }

        &__cards__container {
            grid-template: repeat(3, auto) / auto;
            grid-column-gap: unset;
            grid-row-gap: util.rem(36);

            margin: 0 0 util.rem(16) 0;
        }
    }
}

@media screen and (max-width: 470px) {
    .webdev {
        margin: 0 0;
    }
}