@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}