@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

.buttons:hover {
    scale: 105%;

    cursor: pointer;
}

.buttons__comms {

    &-stream:hover, &-art:hover {
        scale: 100%;

        cursor:not-allowed;
    }
}

.link:hover{
    color: var(--light-pink);

    -webkit-text-stroke-width: util.rem(1.2);
    -webkit-text-stroke-color: var(--light-pink);
}

.portfolio, .commissions, .webdev {
    &__top__icon:hover {
        scale: 120%;

        cursor: pointer;
    }

    &-card__info__icon:hover {
        scale: 115%;
        cursor: pointer;
    }
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 100%;

    transition: all 0.2s ease-in-out;
    transition-delay: 0.3s;
}

.commissions__tos__section__header:hover {
    cursor: pointer;

    color: var(--light-pink);

    -webkit-text-stroke-width: util.rem(1.2);
    -webkit-text-stroke-color: var(--light-pink);

    & .commissions__chevron {
        filter: brightness(0) saturate(100%) invert(81%) sepia(4%) saturate(1868%) hue-rotate(287deg) brightness(102%) contrast(98%);
    }
}