@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

.buttons:hover {
    scale: 105%;

    cursor: pointer;
}

.link:hover{
    color: var(--light-pink);

    -webkit-text-stroke-width: util.rem(1.2);
    -webkit-text-stroke-color: var(--light-pink);
}

.portfolio {
    &__top__icon:hover {
        scale: 120%;

        cursor: pointer;
    }

    &-card__info__icon:hover {
        scale: 115%;
        cursor: pointer;
    }
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 100%;

    transition: all 0.2s ease-in-out;
    transition-delay: 0.3s;
}